.inicial {
  background-color: blue;
  display: flex;
  /* padding: 3%; */

}

img {
  max-width: 50%;
  margin-left: 10%;
  /* margin-right: auto; */
}


h1 {
  text-align: center;
  float: right;
  padding-left: 3px;
}

p {
  text-align: justify;
  width: 50%;
  float: right;
}

/* inicial__imagem_texto {
  display: inline-block;
  background-color: aquamarine;
  align-content: center;
} */

/* .inicial__texto {
  align-items: center;
  text-align: center;
}

.inicial__logo {
  width: 25%;
  background-color: cadetblue;
}

.inicial__atendemos {
  padding: 10px;
  flex-direction: column;
  align-content: center;
  background-color: aqua;
}

.inicial__lista {
  padding: 10px;
  background-color: blueviolet;
}  */