.pagina-inicial {
    display: flex;
    flex-direction: column;
}

.pagina-inicial__titulo {
    align-self: center;  
}

.pagina-inicial__logo {
    margin-right: 100px;
}

.pagina-inicial__titulo1 h2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
}

.pagina-inicial__titulo1 p {
    width: 492px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: justify;
}

.pagina-inicial__titulo2 {
    align-self: center;
}

.pagina-inicial__titulo2 h2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
    margin-left: -200px; 
}

#rectangule {
    width: 500px;
    height: 200px;
    background-color: #E7FB00;
    border-radius: 15px;
    align-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center;
    margin-left: 100px;
}

#lista {
    margin-left: 50px;
}

#lista ul {

    width: 500px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    line-height: 1.8;
    list-style: square;

}