.secao2__img{ 
    background-color: rgb(223, 250, 250);
    text-align: center;
    width: 100%;
    height: auto;
    display: inline-flex;
}
#one {
    transition: 4s all;
    margin-left: 80px;
    height: 343px;
}
#two {
    transition: 4s all;
    height: auto;
    right: 80px;
    margin-top: 10px;
    margin: 25px;
}
#three {

}
/*#two:hover {
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(1.5deg);
}
/*




