.voluntario {
    background: #E0E0FF;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;

}
.voluntario__titulo {
    background: #E0E0FF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    transition: 5s all;
    transition: scale(2);
}